#download {
  position: relative;
  background-color: var(--surface-color);
  border-radius: 1.5rem;
  margin: 5rem 2rem;
  display: flex;
  height: 33.87rem;
}

.downloadtext {
  padding: 140px 0 0 80px;
  display: flex;
  flex-direction: column;
  & h2 {
    color: var(--brand-color);
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 8%;
    font-weight: var(--fw-base);
  }
  & h1 {
    font-size: var(--fs-xl);
    margin: 0.5rem 0;
  }
  & p {
    color: var(--text-color-secondary);
    width: 640px;
    line-height: 160%;
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    margin-bottom: 40px;
  }
  & .buttonsdld {
    display: flex;
    gap: 1rem;
  }
}
.imgdld {
  width: 29.125rem;
  position: absolute;
  right: -30px;
  top: -85px;
}

@media (width <= 79rem) {
  #download {
    height: 41.37rem;
  }
  .downloadtext {
    padding: 3rem 1.5rem;
    & h1 {
      font-size: 1.5rem;
    }
    & p {
      width: 17.43rem;
    }
  }
  .buttonsdld {
    display: flex;
    flex-direction: column;
  }
  .imgdld {
    width: 14.87rem;
    height: 20rem;
    display: flex;
    transform: translate(0px, 426px);
    -webkit-transform: translate(0px, 426px);
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  }
}
