header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.5rem 2rem 1.5rem;
  align-items: center;

  nav {
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    gap: 1.5rem;

    & a {
      text-decoration: none;
      color: var(--text-color-secondary);
    }
    & button {
      border-radius: 8px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
    }
  }
}
@media (width <= 79rem) {
  header a {
    display: none;
  }
}


a:hover {
  background: linear-gradient(
    90deg,
    var(--brand-color-secondary) 0%,
    var(--brand-color) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
